<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <!-- Produces a folder you can deploy directly (the 'wwwroot' folder inside this) -->
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0</TargetFramework>
    <PublishDir>$(MSBuildProjectDirectory)\..\..\_swa_publish\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>

    <!-- Optional: slightly smaller payload -->
    <BlazorWebAssemblyEnableCompression>true</BlazorWebAssemblyEnableCompression>
  </PropertyGroup>
</Project>
