@using System.Text.Json
@implements IAsyncDisposable
@inject IJSRuntime JS
@inject Dhadgar.Scope.Services.ArchitectureGraphService GraphService

<div class="@($"{HeightClass} w-full rounded-xl bg-black/30")" @ref="_host"></div>

@code {
    [Parameter] public string HeightClass { get; set; } = "h-[60vh]";

    private ElementReference _host;
    private IJSObjectReference? _module;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var data = await GraphService.GetAsync();
        _module = await JS.InvokeAsync<IJSObjectReference>("import", "/js/architecturePark.module.js");
        await _module.InvokeVoidAsync("init", _host, data, new { mode = "embed", selectable = false });
        await _module.InvokeVoidAsync("fit", _host);
        await _module.InvokeVoidAsync("setExplode", _host, 35);
    }

    public async ValueTask DisposeAsync()
    {
        if (_module is not null)
        {
            await _module.InvokeVoidAsync("dispose", _host);
            await _module.DisposeAsync();
        }
    }
}
