@implements IAsyncDisposable
@inject IJSRuntime JS
@inject Dhadgar.Scope.Services.DbSchemaCatalogService CatalogService

<div class="@($"{HeightClass} w-full rounded-xl bg-black/30")" @ref="_host"></div>

@code {
    [Parameter] public string HeightClass { get; set; } = "h-[60vh]";

    private ElementReference _host;
    private IJSObjectReference? _module;
    private string _id = $"db_{Guid.NewGuid():N}";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var catalog = await CatalogService.GetAsync();
        _module = await JS.InvokeAsync<IJSObjectReference>("import", "/js/dbSchemaGraph.module.js");
        await _module.InvokeVoidAsync("init", _id, _host, catalog, new { mode = "embed", selectable = false });
        await _module.InvokeVoidAsync("fit", _id);
        await _module.InvokeVoidAsync("setExplode", _id, 25);
    }

    public async ValueTask DisposeAsync()
    {
        if (_module is not null)
        {
            await _module.InvokeVoidAsync("dispose", _id);
            await _module.DisposeAsync();
        }
    }
}
